service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="MusicService"
             targetNamespace="urn:tns"
             xmlns:tns="urn:tns"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

  <types>
    <xsd:schema targetNamespace="urn:tns">
      <xsd:complexType name="User">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int" minOccurs="0"/>
          <xsd:element name="name" type="xsd:string" minOccurs="0"/>
          <xsd:element name="age" type="xsd:int" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Song">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int" minOccurs="0"/>
          <xsd:element name="name" type="xsd:string" minOccurs="0"/>
          <xsd:element name="artist" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Playlist">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int" minOccurs="0"/>
          <xsd:element name="name" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="SongIds">
        <xsd:sequence>
          <xsd:element name="item" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Wrapper types for list responses -->
      <xsd:complexType name="Users">
        <xsd:sequence>
          <xsd:element name="item" type="tns:User" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Songs">
        <xsd:sequence>
          <xsd:element name="item" type="tns:Song" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Playlists">
        <xsd:sequence>
          <xsd:element name="item" type="tns:Playlist" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>

  <!-- Messages -->
  <!-- Users -->
  <message name="createUserRequest">
    <part name="name" type="xsd:string"/>
    <part name="age" type="xsd:int"/>
  </message>
  <message name="createUserResponse">
    <part name="id" type="xsd:int"/>
  </message>

  <message name="getUserRequest">
    <part name="id" type="xsd:int"/>
  </message>
  <message name="getUserResponse">
    <part name="user" element="tns:User"/>
  </message>

  <message name="updateUserRequest">
    <part name="id" type="xsd:int"/>
    <part name="name" type="xsd:string"/>
    <part name="age" type="xsd:int"/>
  </message>
  <message name="updateUserResponse">
    <part name="success" type="xsd:boolean"/>
  </message>

  <message name="deleteUserRequest">
    <part name="id" type="xsd:int"/>
  </message>
  <message name="deleteUserResponse">
    <part name="success" type="xsd:boolean"/>
  </message>

  <message name="listUsersRequest"/>
  <message name="listUsersResponse">
    <part name="users" element="tns:Users"/>
  </message>

  <!-- Songs -->
  <message name="createSongRequest">
    <part name="name" type="xsd:string"/>
    <part name="artist" type="xsd:string"/>
  </message>
  <message name="createSongResponse">
    <part name="id" type="xsd:int"/>
  </message>

  <message name="getSongRequest">
    <part name="id" type="xsd:int"/>
  </message>
  <message name="getSongResponse">
    <part name="song" element="tns:Song"/>
  </message>

  <message name="updateSongRequest">
    <part name="id" type="xsd:int"/>
    <part name="name" type="xsd:string"/>
    <part name="artist" type="xsd:string"/>
  </message>
  <message name="updateSongResponse">
    <part name="success" type="xsd:boolean"/>
  </message>

  <message name="deleteSongRequest">
    <part name="id" type="xsd:int"/>
  </message>
  <message name="deleteSongResponse">
    <part name="success" type="xsd:boolean"/>
  </message>

  <message name="listSongsRequest"/>
  <message name="listSongsResponse">
    <part name="songs" element="tns:Songs"/>
  </message>

  <!-- Playlists -->
  <message name="createPlaylistRequest">
    <part name="name" type="xsd:string"/>
  </message>
  <message name="createPlaylistResponse">
    <part name="id" type="xsd:int"/>
  </message>

  <message name="getPlaylistRequest">
    <part name="id" type="xsd:int"/>
  </message>
  <message name="getPlaylistResponse">
    <part name="playlist" element="tns:Playlist"/>
  </message>

  <message name="updatePlaylistRequest">
    <part name="id" type="xsd:int"/>
    <part name="name" type="xsd:string"/>
  </message>
  <message name="updatePlaylistResponse">
    <part name="success" type="xsd:boolean"/>
  </message>

  <message name="deletePlaylistRequest">
    <part name="id" type="xsd:int"/>
  </message>
  <message name="deletePlaylistResponse">
    <part name="success" type="xsd:boolean"/>
  </message>

  <message name="listPlaylistsRequest"/>
  <message name="listPlaylistsResponse">
    <part name="playlists" element="tns:Playlists"/>
  </message>

  <message name="addSongsToPlaylistRequest">
    <part name="playlist_id" type="xsd:int"/>
    <part name="song_ids" element="tns:SongIds"/>
  </message>
  <message name="addSongsToPlaylistResponse">
    <part name="success" type="xsd:boolean"/>
  </message>

  <message name="removeSongsFromPlaylistRequest">
    <part name="playlist_id" type="xsd:int"/>
    <part name="song_ids" element="tns:SongIds"/>
  </message>
  <message name="removeSongsFromPlaylistResponse">
    <part name="success" type="xsd:boolean"/>
  </message>

  <message name="listSongsByPlaylistRequest">
    <part name="playlist_id" type="xsd:int"/>
  </message>
  <message name="listSongsByPlaylistResponse">
    <part name="songs" element="tns:Songs"/>
  </message>

  <message name="listPlaylistsBySongRequest">
    <part name="song_id" type="xsd:int"/>
  </message>
  <message name="listPlaylistsBySongResponse">
    <part name="playlists" element="tns:Playlists"/>
  </message>

  <message name="addSongsToPlaylistRequest">
    <part name="playlist_id" type="xsd:int"/>
    <part name="song_ids" type="xsd:string"/>
  </message>
  <message name="addSongsToPlaylistResponse">
    <part name="success" type="xsd:boolean"/>
  </message>

  <message name="removeSongsFromPlaylistRequest">
    <part name="playlist_id" type="xsd:int"/>
    <part name="song_ids" type="xsd:string"/>
  </message>
  <message name="removeSongsFromPlaylistResponse">
    <part name="success" type="xsd:boolean"/>
  </message>

  <!-- PortType -->
  <portType name="MusicServicePortType">
    <!-- Users -->
    <operation name="createUser"><input message="tns:createUserRequest"/><output message="tns:createUserResponse"/></operation>
    <operation name="getUser"><input message="tns:getUserRequest"/><output message="tns:getUserResponse"/></operation>
    <operation name="updateUser"><input message="tns:updateUserRequest"/><output message="tns:updateUserResponse"/></operation>
    <operation name="deleteUser"><input message="tns:deleteUserRequest"/><output message="tns:deleteUserResponse"/></operation>
    <operation name="listUsers"><input message="tns:listUsersRequest"/><output message="tns:listUsersResponse"/></operation>

    <!-- Songs -->
    <operation name="createSong"><input message="tns:createSongRequest"/><output message="tns:createSongResponse"/></operation>
    <operation name="getSong"><input message="tns:getSongRequest"/><output message="tns:getSongResponse"/></operation>
    <operation name="updateSong"><input message="tns:updateSongRequest"/><output message="tns:updateSongResponse"/></operation>
    <operation name="deleteSong"><input message="tns:deleteSongRequest"/><output message="tns:deleteSongResponse"/></operation>
    <operation name="listSongs"><input message="tns:listSongsRequest"/><output message="tns:listSongsResponse"/></operation>

    <!-- Playlists -->
    <operation name="createPlaylist"><input message="tns:createPlaylistRequest"/><output message="tns:createPlaylistResponse"/></operation>
    <operation name="getPlaylist"><input message="tns:getPlaylistRequest"/><output message="tns:getPlaylistResponse"/></operation>
    <operation name="updatePlaylist"><input message="tns:updatePlaylistRequest"/><output message="tns:updatePlaylistResponse"/></operation>
    <operation name="deletePlaylist"><input message="tns:deletePlaylistRequest"/><output message="tns:deletePlaylistResponse"/></operation>
    <operation name="listPlaylists"><input message="tns:listPlaylistsRequest"/><output message="tns:listPlaylistsResponse"/></operation>
    <operation name="addSongsToPlaylist"><input message="tns:addSongsToPlaylistRequest"/><output message="tns:addSongsToPlaylistResponse"/></operation>
    <operation name="removeSongsFromPlaylist"><input message="tns:removeSongsFromPlaylistRequest"/><output message="tns:removeSongsFromPlaylistResponse"/></operation>
    <operation name="listSongsByPlaylist"><input message="tns:listSongsByPlaylistRequest"/><output message="tns:listSongsByPlaylistResponse"/></operation>
    <operation name="listPlaylistsBySong"><input message="tns:listPlaylistsBySongRequest"/><output message="tns:listPlaylistsBySongResponse"/></operation>
    <operation name="addSongsToPlaylist"><input message="tns:addSongsToPlaylistRequest"/><output message="tns:addSongsToPlaylistResponse"/></operation>
    <operation name="removeSongsFromPlaylist"><input message="tns:removeSongsFromPlaylistRequest"/><output message="tns:removeSongsFromPlaylistResponse"/></operation>
  </portType>

  <!-- Binding -->
  <binding name="MusicServiceSoapBinding" type="tns:MusicServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <!-- Users -->
    <operation name="createUser">
      <soap:operation soapAction="createUser"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="getUser">
      <soap:operation soapAction="getUser"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="updateUser">
      <soap:operation soapAction="updateUser"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="deleteUser">
      <soap:operation soapAction="deleteUser"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="listUsers">
      <soap:operation soapAction="listUsers"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <!-- Songs -->
    <operation name="createSong">
      <soap:operation soapAction="createSong"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="getSong">
      <soap:operation soapAction="getSong"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="updateSong">
      <soap:operation soapAction="updateSong"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="deleteSong">
      <soap:operation soapAction="deleteSong"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="listSongs">
      <soap:operation soapAction="listSongs"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <!-- Playlists -->
    <operation name="createPlaylist">
      <soap:operation soapAction="createPlaylist"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="getPlaylist">
      <soap:operation soapAction="getPlaylist"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="updatePlaylist">
      <soap:operation soapAction="updatePlaylist"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="deletePlaylist">
      <soap:operation soapAction="deletePlaylist"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="listPlaylists">
      <soap:operation soapAction="listPlaylists"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <operation name="addSongsToPlaylist">
      <soap:operation soapAction="addSongsToPlaylist"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <operation name="removeSongsFromPlaylist">
      <soap:operation soapAction="removeSongsFromPlaylist"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <operation name="listSongsByPlaylist">
      <soap:operation soapAction="listSongsByPlaylist"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <operation name="listPlaylistsBySong">
      <soap:operation soapAction="listPlaylistsBySong"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <operation name="addSongsToPlaylist">
      <soap:operation soapAction="addSongsToPlaylist"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <operation name="removeSongsFromPlaylist">
      <soap:operation soapAction="removeSongsFromPlaylist"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

  </binding>

  <service name="MusicService">
    <port name="MusicServicePort" binding="tns:MusicServiceSoapBinding">
      <soap:address location="http://localhost:8000/"/>
    </port>
  </service>

</definitions>
